html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: url('/images/backgroundimage.jpg')no-repeat center center fixed;
    background-size: cover;
    color: white !important;
}

form {
    box-shadow: 5px 5px 5px;
}

.res-input {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}
label {
    padding-right: 10px;
}

.success-table {
    border: solid black 2px;
    box-shadow: 3px 3px 3px;
    background-color: navajowhite;
}
