@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>List of reservations with create</h1>

<h1>list of booths with a select for dates</h1>

<h1>go to menu </h1>