@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using BreakfastClub.Models

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (SignInManager.IsSignedIn(User))
{
    
    
    <container class="booth-text">
       <p>
            The idea is to be able to assign booths to a reservation based on date and eventually time, initially manually, 
            but eventually automatically through a function. the function would then also be involved in the reservation taking process,
            by calculating available seats based on available booths based on the date of the reservation. 

       </p> 
       <p>
            additionally, you could go on to add an employee list, and create a function to calculate how many employees will be needed on a date
       </p>

    </container>

     
}
else
{
    <h1>Sorry, you cannot access this page, please <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a></h1>
}